
/* Made by Harry Bond 2021 */

*{
  color: black !important;
  font-family: monospace;
  font-weight: bold !important;
  user-select: none !important;

}

body{
  background-color: #008080;
  user-select: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.winui{
  border-color:#fafafa #333333 #333333 #fafafa;
  background-color: #C7C7C7;
  border-width:1%;
  padding:2px;
  text-decoration: none;
  border-style: outset;
}

.winuiinteract:active{
  border-color:#333333 #fafafa #fafafa #333333;
  border-style: inset;
  background-image: url("assets/images/dither.gif")!important;
  transform: translate(10px);

}

.winuiinteract:hover{
  background-image: url("assets/images/dither-dark.gif");
}

.winuiinvert{
  border-color:#333333 #fafafa #fafafa #333333;
  border-style: inset;
}

.taskbar{
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  width:100%;
  height:50px;
}
.barelement{
  width:15%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
}
.baricon{
  height:24px;
}

[ID^="layerNeko"]{
  position: relative;
}
