
/* Made by Harry Bond 2021 */

*{
  color: black !important;
  font-family: monospace;
  font-weight: bold !important;
  user-select: none !important;
}

body{
  background-color: #008080;
  user-select: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.winui{
  border-color:#fafafa #333333 #333333 #fafafa;
  background-color: #C7C7C7;
  border-width:2px;
  padding:3px;
  text-decoration: none;
  border-style: outset;
}

.winuiinteract:active{
  border-color:#333333 #fafafa #fafafa #333333;
  border-style: inset;
  background-image: url("assets/images/dither.gif")!important;
  transform: translate(1px);

}

.winuiinteract:hover{
  background-image: url("assets/images/dither-dark.gif");
}

.winuiinvert{
  border-color:#333333 #fafafa #fafafa #333333;
  border-style: inset;
}

.taskbar{
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  width:100%;
}
.barelement{
  width:15%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
}
.icon-med{
  height:20px;
}
.icon-small{
  height:20px;
}
.margin-small{
  margin:3px;
}
.textmodify{
  user-select: text !important;
  resize: none;
  border:0;
  padding:5px;
}

.sizefill{
  height:auto;
  width:auto;
}
#window{
<<<<<<< HEAD
  position:absolute;
  z-index: -10;
=======
  position: absolute;
  z-index: 9;
>>>>>>> parent of 78ace7c (window hidden by default)
}
#windowheader{
  position:absolute;
  cursor: move;
  height:35px;
  z-index: 1000;
  width:100%;
}

[ID^="layerNeko"]{
  position: relative;
}
